body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button, input{
    font-family: inherit;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #121619;

}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #FFFFFF;
    font-size: 20px;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoContainer a{
    text-decoration: none;
    color: #FFFFFF;
}

.logo{
    width: 100px;
}

.headerNav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.headerNav a{
    text-decoration: none;
    color: #FFFFFF;
}

.belowHeader{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width: 100%;
    background-color: #121619;
}

.headerUserContainer{
    display: flex;
    justify-content: flex-end;
    width: 70%;

}

.headerUserContainer a{
    text-decoration: none;
    color: #FEB64E;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.iconContainer{
    width: 10%;
    display: flex;
    justify-content: space-between;
}


#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}

#menu-deroulant li {
    display: inline-block;
}

#menu-deroulant ul li {
    display: inherit;
    background-color: #121619;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#FFFFFF;
    padding-bottom: 10px;
}

#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: center;
    z-index: 1000;
    width: 6%;

}

#menu-deroulant li:hover ul {
    left: auto;
}
