.containerUserTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.userTitle{
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.userSubTitle{
    font-size: 30px;
    margin-top: 0;
}

.userInfoTitle{
    font-size: 50px;
}

.updateInfo{
    width:40%;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
}

.labelUpdate{
    font-size: 20px;
}

.submit{
    background-color: #FEB64E;
    color: #FFFFFF;
}


.containerUserOrder{
    border: 1px solid black;
    width: 99.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displayOrder{
    width: 70%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.orderPlacement{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.formDisconnect{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.disconnect{
    background-color: #121619;
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 50%;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 30px;
}

.admin{
    background-color: #FEB64E;
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 50%;
    font-size: 30px;
    padding: 5px;

}


